CREATE OR REPLACE FUNCTION public.get_user_role() RETURNS text AS \$\$ SELECT role FROM public.user_accesses WHERE lower(email) = lower(auth.jwt() ->> 'email') AND is_active = true LIMIT 1; \$\$ LANGUAGE sql SECURITY DEFINER SET search_path = public;
